@model Faculty.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Удалить</h1>

<h2>Вы действительно хотите удалить этого студента?</h2>
<div>
    <h4>Студент</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            ID Студента
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StudentId)
        </dd>
        <dt class="col-sm-2">
            Имя
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            Фамилия
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class="col-sm-2">
            Отчетсво
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ThirdName)
        </dd>
        <dt class="col-sm-2">
            Адрес
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">Телефон</dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="submit" value="Удалить" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-info">Вернуться к списку</a>
    </form>
</div>
