@model IEnumerable<Faculty.Models.AcademicRecord>

@{
    ViewData["Title"] = "AcademicPlanForSubjectId";
}

<h1>Учебный план для предмета: @ViewBag.SubjectName</h1>

@Html.ActionLink("Добавить запись", "CreateAcademicPlanForSubjectId", new { id = ViewBag.SubjectId }, new { @class = "btn btn-primary" })

<table class="table">
    <thead>
        <tr>
            <th>
                ID Студента
            </th>
            <th>
                ФИО Студента
            </th>
            <th>
                ID Семестра
            </th>
            <th>
                Семестр
            </th>
            <th>
                Оценка
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentId)
            </td>
            <td>
                @foreach (var i in ViewBag.Students)
                {
                    if (i.StudentId == item.StudentId)
                    {<p>@i.FirstName @i.SecondName @i.ThirdName</p>}
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SemesterId)
            </td>
            <td>
                @foreach (var i in ViewBag.Semesters)
                {
                    if (i.SemesterId == item.SemesterId)
                    {<p>@i.SemesterNumber</p>}
            }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.ActionLink("Удалить запись", "DeleteAcademicPlanForSubjectId", new { item.SubjectId, item.StudentId, item.SemesterId }, new { @class = "btn btn-danger" })
            </td>
        </tr>
        }
    </tbody>
</table>
