@model IEnumerable<Faculty.Models.Subject>

@{
    ViewData["Title"] = "Index";
}

<h1>Предметы</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Добавить предмет</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                ID Предмета
            </th>
            <th>
                Наименование
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SubjectId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Изменить", "Edit", new { id=item.SubjectId }, new { @class = "btn btn-primary" })
                @Html.ActionLink("Подробнее", "Details", new { id=item.SubjectId }, new { @class = "btn btn-info" })
                @Html.ActionLink("Удалить", "Delete", new { id=item.SubjectId }, new { @class = "btn btn-warning" })
            </td>
        </tr>
}
    </tbody>
</table>
